<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="内部使用">
    <meta name="author" content="Cula">

    <title>净安</title>
    <link rel="icon" href="">

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap-select/1.8.1/css/bootstrap-select.css" type="text/css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" type="text/css">
    <link rel="stylesheet" href="{{ static_url('css/base.css') }}" type="text/css">

    {% block css_file %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% block head %}{% endblock %}
  </head>

  <body>

    {% block body %}{% endblock %}

    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/1.8.1/js/bootstrap-select.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-datepicker/1.5.0/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/URI.js/1.17.0/URI.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/1000hz-bootstrap-validator/0.9.0/validator.js" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ static_url('js/base.js') }}"></script>

    {% block js_file %}{% endblock %}
    <script type="text/javascript">
      $(function(){
        {% block js_ready %}{% endblock %}
      });
    </script>
  </body>
</html>
