{% macro editable_form_edit(name, url, xsrf) %}
<form class="form form-inline form-editable" data-toggle="validator" role="form" method="POST" action="{{ url }}" onSubmit="return false;">
  {{ xsrf }}
  <div class="form-group">
    <input type="text" class="form-control input-sm" style="padding-right: 24px;" name="{{ name }}" required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-sm" type="button" onclick="formAjaxSubmit($(this))"><i class="glyphicon glyphicon-ok"></i></button>
  </div>
</form>
{% endmacro %}"


{% macro editable_form_select(name, url, items, xsrf, current=None) %}
<form class="form form-inline form-editable" data-toggle="validator" role="form" method="POST" action="{{ url }}">
  {{ xsrf }}
  <div class="form-group">
    <select class="form-control selectpicker show-tick" name="{{ name }}" required style="padding-right: 24px;">
      {% for item, item_display in items %}
      <option value={{ item }} {% if item == current %} selected {% endif %}>{{ item_display }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-sm" type="button" onclick="formAjaxSubmit($(this))"><i class="glyphicon glyphicon-ok"></i></button>
  </div>

</form>
{% endmacro %}"

{% macro editable_form_delete(url, xsrf) %}
<form class="form form-inline form-editable" data-toggle="validator" role="form" method="POST" action="{{ url }}">
  {{ xsrf }}
  <div class="form-group">
    <button class="btn btn-primary btn-sm" type="button" onclick="formAjaxSubmit($(this))">确认删除</button>
  </div>
</form>
{% endmacro %}"

{% macro pagination(page, total, onepage_hidden=True) %}
  {% set cur = page %}
  {% if not cur %}
  {% set cur = 1 %}
  {% endif %}
  {% set num_pages = total %}
  {% set min, max = get_page_range(cur, 1, num_pages) %}
  {% if not onepage_hidden or max > 1 %}
    <ul class="pagination">
      {% if cur != min %}
        <li><a href="#" aria-label="Previous" onClick="goPage({{ cur-1 }})"><span>&laquo;</span></a></li>
      {% endif %}
      {% for i in range(min, max+1) %}
        {% if i == cur %}
          <li class="active"><a href="#">{{ i }}</a></li>
        {% else %}
          <li><a href="#" onClick="goPage({{ i }})">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if cur != max %}
        <li><a href="#" aria-label="Next" onClick="goPage({{ cur+1 }})"><span>&raquo;</span></a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro list_nav(add_model_selector) %}
<nav class="navbar">
  <div class="col-sm-12">
    <ul class="nav navbar-nav">
      <li>
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="{{ add_model_selector }}">添加</button>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="form-inline" action="#" onSubmit="doSearch($('#searchQuery').first().val()); return false;">
          <div class="input-group">
            <input type="text" placeholder="搜索" class="form-control" id="searchQuery" value="{{ q }}">
            <div class="input-group-addon">
              <a class="btn-link" style="cursor:pointer;" type="submit" >
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
{% endmacro %}
