{% extends "base/layout.html" %}

{% block js_ready %}
$('.navbar #yard').addClass('active');
{% block yard_js_ready %}{% endblock %}
{% endblock %}

{% block sidebar %}
{% set sidebar_items = [
  {"id": "yard_list", "name": "列表", "href": "/yard/list"},
  {"id": "yard_add", "name": "增加", "href": "/yard/add"}
  ]  %}
{% for sidebar_item in sidebar_items %}
<a href="{{ sidebar_item['href'] }}" class="list-group-item" id="{{ sidebar_item['id'] }}">{{ sidebar_item['name'] }}</a>
{% endfor %}
{% endblock %}
