body {
  padding-top: 70px;
}

footer {
  border-top: 1px solid #e5e5e5;
  color: #767676;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

#main-container {
  min-height: 760px;
  text-align: center;
}

table td {
  text-align: left;
}

.form .form-error {
  text-align: left;
}

#suborders {

}

.suborder {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-style: dashed;
  border-width: 2px;
  border-color: #286090;
}

.example {
  display: none;
}

