{% extends "base/layout.html" %}

{% import 'base/macro.html' as macros %}

{% block main %}
  <div class="modal fade" id="createOrder" tabindex="-1" role="dialog" aria-labelledby="createOrder">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">请输入相关信息</h4>
        </div>
        <form class="form-horizontal" id="createOrderForm" method="POST" action="/order/create">
          <div class="modal-body">
            {{ xsrf_form_html() }}
            <div class="form-group">
              <label for="source" class="col-sm-3 control-label">平台</label>
              <div class="input-group col-sm-2">
                <select class="form-control selectpicker show-tick" name="source">
                  {% for source, source_display in handler.SOURCE_LIST_DISPLAY.items() %}
                    <option value={{ source }}>{{ source_display }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">销售员</label>
              <div class="input-group col-sm-2">
                <input type="text" class="form-control" name="seller" placeholder="如: 张三" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="yard_id" class="col-sm-3 control-label">收货人</label>
              <div class="input-group col-sm-4">
                <select class="form-control selectpicker show-tick" name="yard_id" data-live-search="true">
                  {% for yard in yards %}
                    <option value={{ yard._id }} title="{{ ' '.join([handler.SOURCE_LIST_DISPLAY[yard.source], yard.region, yard.name, yard.phone]) }}">
                    {{ ' '.join([handler.SOURCE_LIST_DISPLAY[yard.source], yard.region, yard.name, yard.phone, yard.address]) }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="deliver_at" class="col-sm-3 control-label">发货日期</label>
              <div class="input-group col-sm-2">
                <input class="form-control datetimepicker" name="deliver_at" data-date-format="yyyy-mm-dd" required readonly> 
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3"></div>
              <div class="input-group col-sm-9 form-error">
                <span class="form-error-block help-block"></span>
              </div>
            </div>
            <hr>
            <div class="suborders">
              <div class="suborder example">
                <button class="close" aria-label="Close" type="button" onClick="$(this).parents('.suborder').first().remove();">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="form-group">
                  <label for="id_from_source" class="col-sm-3 control-label">订单号</label>
                  <div class="input-group col-sm-2">
                    <input type="text" class="form-control" name="id_from_source" placeholder="如: 11976990" required> 
                  </div>
                </div>
                <div class="form-group">
                  <label for="warehouse_from_source" class="col-sm-3 control-label">仓库</label>
                  <div class="input-group col-sm-4">
                    <input type="text" class="form-control" name="warehouse_from_source" placeholder="如: 武汉 百货服装仓B2库" required> 
                  </div>
                </div>
                <div>
                  <table class="table .table-striped .table-hover">
                    <thead>
                      <tr>
                        <th>商品名称</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>
                          <a href="#" onClick="addItem($(this).parents('table').first());">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="item example">
                        <td>
                          <div class="input-group">
                            <select class="form-control selectpicker show-tick" name="product_id" data-live-search="true">
                              {% for product in products %}
                                <option value={{ product._id }} title="{{ ' '.join([product.sku, product.name]) }}">
                                {{ ' '.join([product.sku, product.name, product.id_from_source, product.price_for_ref|string]) }}
                                </option>
                              {% endfor %}
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="number" min="0" max="999999" value="0">
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" placeholder="如: 3.12" type="number" step="0.01" min="0.00" max="9999999.99" value="0.00">
                          </div>
                        </td>
                        <td>
                          <a href="#" onClick="$(this).parents('tr').first().remove();">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </a>
                        </td>
                      </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-success add-suborder">添加订单详情</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button class="form-submit btn btn-primary" type="submit">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{ macros.list_nav('#createOrder') }}
  {% if orders %}
    <table class="table table-hover table-striped" data-toggle="table">
      <thead>
        <tr>
          <th>平台</th>
          <th>销售员</th>
          <th>收货人</th>
          <th>递送日期</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr data-index={{order._id}}>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_select('source', '/order/update/' + order._id|string, handler.SOURCE_LIST_DISPLAY.items(), xsrf_form_html(), order.source) }}
                '>{{ handler.SOURCE_LIST_DISPLAY.get(order.source) }}</a>
            </td>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('seller', '/order/update/' + order._id|string, xsrf_form_html()) }}
                '>{{ order.seller }}</a>
            </td>
            <td>{{ order.yard.name }}</td>
            <td>{{ order.deliver_at.strftime("%Y-%m-%d") }}</td>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_delete('/order/delete/' + order._id|string, xsrf_form_html()) }}
                '><i class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
        {% endfor %}
        </thead>
      {% else %}
        <h5>
          <p>没有任何数据哦亲!</p>
        </h5>
      {% endif %}
    </table>
    <div class="pull-right">
      {{ macros.pagination(p, total) }}
    </div>
  {% endblock %}
