{% extends "base/layout.html" %}

{% import 'base/macro.html' as macros %}

{% block main %}
  <div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="createProduct">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">请输入相关信息</h4>
        </div>
        <form class="form form-horizontal" id="createProductForm" method="POST" action="/product/create">
          <div class="modal-body">
            {{ xsrf_form_html() }}
            <div class="form-group">
              <label for="sku" class="col-sm-2 control-label">SKU</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="sku" placeholder="如: SKU_XXXXX" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">名称</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="name" placeholder="如: 地毯干洗剂500ml" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="seller" class="col-sm-2 control-label">商品编号</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="id_from_source" placeholder="如: 37502389414" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="price_for_ref" class="col-sm-2 control-label">参考价格</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="price_for_ref" placeholder="如: 10.1 单位默认'人民币:元', 无须填写" required> 
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-9 form-error">
                <span class="form-error-block help-block"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button class="form-submit btn btn-primary" type="submit">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="fixed-table-toolbar">
    <div class="pull-left">
      <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#createProduct">添加</button>
    </div>
    <div class="pull-right search">
      <form class="form-inline" action="#" onSubmit="doSearch($('#searchQuery').first().val()); return false;">
        <div class="input-group">
          <input type="text" placeholder="搜索" class="form-control" id="searchQuery" value="{{ q }}">
          <div class="input-group-addon">
            <a class="btn-link" style="cursor:pointer;" type="submit" >
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if products %}
  <div>
    {{ macros.pagination(p, total) }}
  </div>
    <table class="table table-hover table-striped" data-toggle="table">
      <thead>
        <tr>
          <th>SKU</th>
          <th>名称</th>
          <th>产品编号</th>
          <th>参考价格</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr data-index={{product._id}}>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('sku', '/product/update/' + product._id|string, xsrf_form_html()) }}
                '>{{ product.sku }}</a>
            </td>
            <td style="max-width:80px">
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('name', '/product/update/' + product._id|string, xsrf_form_html()) }}
                '>{{ product.name }}</a>
            </td>
            <td style="max-width:150px">
              <a tabindex="0" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('id_from_source', '/product/update/' + product._id|string, xsrf_form_html()) }}
                '>{{ product.id_from_source }}</a>
            </td>
            <td style="max-width:300px">
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('price_for_ref', '/product/update/' + product._id|string, xsrf_form_html()) }}
                '>{{ product.price_for_ref }}</a>
            </td>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_delete('/product/delete/' + product._id|string, xsrf_form_html()) }}
                '><i class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
        {% endfor %}
        </thead>
      {% else %}
        <h5>
          <p>没有任何数据哦亲!</p>
        </h5>
      {% endif %}
    </table>
  {% endblock %}
