{% extends "base/layout.html" %}

{% import 'base/macro.html' as macros with context %}

{% block main %}
  <div class="modal fade" id="createYard" tabindex="-1" role="dialog" aria-labelledby="createYard">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">请输入相关信息</h4>
        </div>
        <form class="form form-horizontal" id="createYardForm" method="POST" action="/yard/create">
          <div class="modal-body">
            {{ xsrf_form_html() }}
            <div class="form-group">
              <label for="source" class="col-sm-3 control-label">平台</label>
              <div class="input-group col-sm-3">
                <select class="form-control selectpicker show-tick" name="source">
                  {% for source, source_display in handler.SOURCE_LIST_DISPLAY.items() %}
                    <option value={{ source }}>{{ source_display }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="region" class="col-sm-3 control-label">仓位</label>
              <div class="input-group col-sm-3">
                <input type="text" class="form-control" name="region" placeholder="如: 华南(广州)" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">姓名</label>
              <div class="input-group col-sm-3">
                <input type="text" class="form-control" name="name" placeholder="如: 张三" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="phone" class="col-sm-3 control-label">电话</label>
              <div class="input-group col-sm-6">
                <input type="text" class="form-control" name="phone" placeholder="如: 13712312312, 021-12343214" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-sm-3 control-label">地址</label>
              <div class="input-group col-sm-7">
                <textarea rows="2" class="form-control" name="address" placeholder="如: 天津市武清区京滨大道88号" required></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3"></div>
              <div class="input-group col-sm-9 form-error">
                <span class="form-error-block help-block"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button class="form-submit btn btn-primary" type="submit">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{ macros.list_nav('#createYard') }}
  {% if yards %}
    <table class="table table-hover table-striped" data-toggle="table">
      <thead>
        <tr>
          <th>平台</th>
          <th>仓位</th>
          <th>姓名</th>
          <th>电话</th>
          <th>地址</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for yard in yards %}
          <tr data-index={{yard._id}}>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_select('source', '/yard/update/' + yard._id|string, handler.SOURCE_LIST_DISPLAY.items(), xsrf_form_html(), yard.source) }}
                '>{{ handler.SOURCE_LIST_DISPLAY.get(yard.source) }}</a>
            </td>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('region', '/yard/update/' + yard._id|string, xsrf_form_html()) }}
                '>{{ yard.region }}</a>
            </td>
            <td style="max-width:80px">
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('name', '/yard/update/' + yard._id|string, xsrf_form_html()) }}
                '>{{ yard.name }}</a>
            </td>
            <td style="max-width:150px">
              <a tabindex="0" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('phone', '/yard/update/' + yard._id|string, xsrf_form_html()) }}
                '>{{ yard.phone }}</a>
            </td>
            <td style="max-width:300px">
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_edit('address', '/yard/update/' + yard._id|string, xsrf_form_html()) }}
                '>{{ yard.address }}</a>
            </td>
            <td>
              <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
                {{ macros.editable_form_delete('/yard/delete/' + yard._id|string, xsrf_form_html()) }}
                '><i class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
        {% endfor %}
        </thead>
      {% else %}
        <h5>
          <p>没有任何数据哦亲!</p>
        </h5>
      {% endif %}
    </table>
    <div class="pull-right">
      {{ macros.pagination(p, total) }}
    </div>
  {% endblock %}
