{% extends "base/yard_base.html" %}

{% import 'base/macro.html' as macros %}

{% block yard_js_ready %}
$('.sidebar #yard_list').addClass('active');
{% endblock %}

{% block main %}
<div class="fixed-table-toolbar">
  <div class="pull-right search">
    <input type="text" placeholder="搜索" class="form-control">
  </div>
</div>
<table class="table table-hover table-striped" data-toggle="table">
  {% if yards %}
  <thead>
    <tr>
      <th>平台</th>
      <th>仓位</th>
      <th>姓名</th>
      <th>电话</th>
      <th>地址</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for yard in yards %}
    <tr data-index={{yard._id}}>
      <td>
        <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
        {{ macros.editable_form_select('source', '/yard/edit/' + yard._id|string, handler.SOURCE_LIST_DISPLAY.items(), xsrf_form_html()) }}
        '>{{ handler.SOURCE_LIST_DISPLAY.get(yard.source) }}</a>
      </td>
      <td>
        <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
        {{ macros.editable_form_edit('region', '/yard/edit/' + yard._id|string, xsrf_form_html()) }}
        '>{{ yard.region }}</a>
      </td>
      <td style="max-width:80px">
        <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
        {{ macros.editable_form_edit('name', '/yard/edit/' + yard._id|string, xsrf_form_html()) }}
        '>{{ yard.name }}</a>
      </td>
      <td style="max-width:150px">
        <a tabindex="0" data-toggle="popover" data-placement="top" data-html="true" data-content='
        {{ macros.editable_form_edit('phone', '/yard/edit/' + yard._id|string, xsrf_form_html()) }}
        '>{{ yard.phone }}</a>
      </td>
      <td style="max-width:300px">
        <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
        {{ macros.editable_form_edit('address', '/yard/edit/' + yard._id|string, xsrf_form_html()) }}
        '>{{ yard.address }}</a>
      </td>
      <td>
        <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-html="true" data-content='
        {{ macros.editable_form_delete('/yard/delete/' + yard._id|string, xsrf_form_html()) }}
        '><i class="glyphicon glyphicon-remove"></i></a>
      </td>
    </tr>
    {% endfor %}
    </thead>
    {% else %}
    <h5>
      没有任何数据哦亲。请<a href="/yard/add">添加</a>
    </h5>
    {% endif %}
</table>
{% endblock %}
