{% extends "base/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/auth.css') }}" type="text/css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ static_url('js/auth.js') }}"></script>
{% endblock %}


{% block body %}
    <div class="container">
        <form class="form form-auth" method="post" action="{{ request.uri }}">
            {{ xsrf_form_html() }}
            <h1 class="form-signin-heading">修改密码</h1>
            <div class="form-group">
                <input type="password" class="form-control" name="old_password" placeholder="旧密码" required autofocus> 
            </div>
            <div class="form-group" id="newPasswordGroup">
                <input type="password" class="form-control" name="new_password" id="newPassword" placeholder="新密码" required oninput="checkPasswordSame()">
                <input type="password" class="form-control" name="new_password_again" id="newPasswordAgain" placeholder="请再次输入新密码" required oninput="checkPasswordSame()">
                <span class="help-block" id="newPasswordError"></span>
            </div>
            <div class="form-group">
                <span class="form-error-block help-block">{{ error }}</span>
            </div>
            <div class="form-group">
              <button class="form-submit btn btn-lg btn-primary btn-block" type="submit">提交</button>
            </div>
            <div class="form-group">
              <a href="javascript:history.go(-1)" class="btn btn-lg btn-danger btn-block">返回</a>
            </div>
        </form>
    </div> <!-- /container -->
{% endblock %}
